.main {
    margin-top: 10px;
    width: 980px;
    height: 455px;
    margin-left: 220px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;
    background-color: purple;
}

.newsflash {
    width: 250px;
    height: 455px;
    float: right;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
    line-height: 33px;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after{
    font-family: 'icomoon';
    content: '\e920';
} 

.bargain {
    margin-top: 5px;
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 13px;
}

.ic1 {
    background: url(../images/icons.png) no-repeat -17px -14px;
}
.ic2 {
    background: url(../images/icons.png) no-repeat -80px -14px;
}
.ic3 {
    background: url(../images/icons.png) no-repeat -141px -15px;
}
.ic4 {
    background: url(../images/icons.png) no-repeat -205px -15px;
}
.ic5 {
    background: url(../images/icons.png) no-repeat -17px -85px;
}
.ic6 {
    background: url(../images/icons.png) no-repeat -80px -85px;
}
.ic7 {
    background: url(../images/icons.png) no-repeat -144px -85px;
}
.ic8 {
    background: url(../images/icons.png) no-repeat -206px -85px;
}
.ic9 {
    background: url(../images/icons.png) no-repeat -17px -158px;
}
.ic10 {
    background: url(../images/icons.png) no-repeat -79px -158px;
}
.ic11 {
    background: url(../images/icons.png) no-repeat -142px -158px;
}
.ic12 {
    background: url(../images/icons.png) no-repeat -208px -158px;
}

.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom-hd {
    width: 205px;
    height: 163px;
    float: left;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom-bd {
    float: left;
}

.recom-bd ul li {
    position: relative;
    float: left;
}

.recom-bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

.recom-bd ul li a img{
    width: 248px;
    height: 163px;
}

.box-hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box-hd h3 {
    float: left;
    color: #c81623;
    font-size: 18px;
    font-weight: 400;
}

.tab-list {
    float: right;
    line-height: 30px;
}

.tab-list ul li {
    float: left;
}

.tab-list ul li a {
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;
}

.box_bd>div {
    float: left;
    height: 361px;
}

.w_210 {
    width: 210px;
    background-color: #f9f9f9;
}

.w_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    margin: 0 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.w_210 ul li a {
    font-size: 12px;
    color: #5c5251;
    line-height: 34px;
}

.w_325 {
    width: 325px;
}

.w_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.w_220 {
    width: 220px;
}

.bottom_line {
    border-bottom: 1px solid #ccc;
    display: block;
}